# Using Pandas

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [4]:
## Your Code here
cars_df = pd.read_csv("data/vehicles.csv")

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [5]:
cars_df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [6]:
cars_df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [17]:
cars_df.tail()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,36,244.0,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,36,243.0,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,36,244.0,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.580571,36,246.0,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604571,16.580571,35,255.0,1150

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [8]:
cars_df.loc[cars_df['Make'].str.contains('Dutton'), "Make"] = "Dutton"

In [9]:
cars_df.loc[cars_df['Make'].str.contains('Dutton'), "Make"]

11012    Dutton
30164    Dutton
31754    Dutton
Name: Make, dtype: object

In [10]:
cars_df.iloc[[11012, 30164, 31754],[0]] = "Dutton"

In [11]:
cars_df.loc[cars_df['Make'].str.startswith('Mas')]['Make']

22174    Maserati
22175    Maserati
22176    Maserati
22177    Maserati
22178    Maserati
22179    Maserati
22180    Maserati
22181    Maserati
22182    Maserati
22183    Maserati
22184    Maserati
22185    Maserati
22186    Maserati
22187    Maserati
22188    Maserati
22189    Maserati
22190    Maserati
22191    Maserati
22192    Maserati
22193    Maserati
22194    Maserati
22195    Maserati
22196    Maserati
22197    Maserati
22198    Maserati
22199    Maserati
22200    Maserati
22201    Maserati
22202    Maserati
22203    Maserati
22204    Maserati
22205    Maserati
22206    Maserati
22207    Maserati
22208    Maserati
22209    Maserati
22210    Maserati
22211    Maserati
22212    Maserati
22213    Maserati
22214    Maserati
22215    Maserati
22216    Maserati
22217    Maserati
22218    Maserati
22219    Maserati
22220    Maserati
22221    Maserati
22222    Maserati
22223    Maserati
22224    Maserati
22225    Maserati
22226    Maserati
22227    Maserati
22228    Maserati
22229    Maserati
22230    Maserati
22231    Maserati
22232    Maserati
22233    Maserati
22234    Maserati
22235    Maserati
22236    Maserati
22237    Maserati
22238    Maserati
22239    Maserati
22240    Maserati
22241    Maserati
22242    Maserati
22243    Maserati
22244    Maserati
22245    Maserati
22246    Maserati
22247    Maserati
22248    Maserati
22249    Maserati
22250    Maserati
22251    Maserati
22252    Maserati
22253    Maserati
22254    Maserati
22255    Maserati
22256    Maserati
22257    Maserati
22258    Maserati
22259    Maserati
22260    Maserati
22261    Maserati
22262    Maserati
22263    Maserati
22264    Maserati
22265    Maserati
22266    Maserati
22267    Maserati
22268    Maserati
22269    Maserati
22270    Maserati
22271    Maserati
22272    Maserati
22273    Maserati
22274    Maserati
22275    Maserati
22276    Maserati
22277    Maserati
22278    Maserati
22279    Maserati
22280    Maserati
22281    Maserati
22282    Maserati
22283    Maserati
22284    Maserati
Name: Make, dtype: object

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [12]:
cars_df['City MPG'] = list(map(lambda x: x *(1.60934 / 3.78541), cars_df['City MPG'] ))

In [13]:
cars_df['Highway MPG'] = list(map(lambda x: x *(1.60934 / 3.78541), cars_df['Highway MPG'] ))

In [16]:
cars_df.rename(columns={'City MPG': 'city_km_per_liter', 'Highway MPG':'highway_km_per_liter'}, inplace=True)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,city_km_per_liter,highway_km_per_liter,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652571,7.227428,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802286,7.227428,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952000,8.928000,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.580571,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604571,16.580571,35,255.000000,1150

In [143]:
cars_df[[, ]]

        City MPG  Highway MPG
0       7.652571     7.227428
1       5.526857     5.526857
2       6.802286     7.227428
3       5.526857     5.526857
4       5.952000     8.928000
...          ...          ...
35947  14.454857    16.155428
35948  14.454857    16.155428
35949  14.454857    16.155428
35950  14.454857    16.580571
35951  13.604571    16.580571

[35952 rows x 2 columns]

In [161]:
# Convert Grams/Mile to Grams/Km
cars_df['CO2 Emission Grams/Mile'] = list(map(lambda x: x/1.60934, cars_df['CO2 Emission Grams/Mile']))

In [162]:
cars_df.loc[:,'CO2 Emission Grams/Mile']

0        324.831736
1        424.779962
2        345.133719
3        424.779962
4        345.133719
            ...
35947    151.614948
35948    150.993575
35949    151.614948
35950    152.857693
35951    158.450048
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [74]:
print('There are', len(cars_df.Make.value_counts()), 'car makers.')

There are 127 car makers.

In [75]:
print('There are', len(cars_df.Model.value_counts()), 'different car models.')

There are 3608 different car models.

In [212]:
max(cars_df.Make.value_counts())

3643

**Chevrolet has the most cars in the data set**

In [232]:
cars_df.loc[cars_df['Make'].str.contains('Chevrolet'),:'Year'].describe()

              Year
count  3643.000000
mean   1998.274225
std      10.241149
min    1984.000000
25%    1989.000000
50%    1997.000000
75%    2007.000000
max    2017.000000

**Chevrolet cars in the data set were made between year 1984 and 2017.**

In [207]:
cars_df.loc[:,'Transmission'].str.startswith('M').value_counts()

False    24290
True     11662
Name: Transmission, dtype: int64

In [315]:
cars_df.loc[cars_df['Make'].str.contains('Chevrolet'),'Engine Displacement'].describe()

count    3643.000000
mean        4.111502
std         1.481103
min         1.000000
25%         2.800000
50%         4.300000
75%         5.300000
max         7.400000
Name: Engine Displacement, dtype: float64

In [175]:
cars_df.loc[:,'Drivetrain'].value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

In [172]:
cars_df['Fuel Type'].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

**What brand has the worse CO2 Emissions on average?**

Hint: use the function `sort_values()`

In [304]:
# Create empty dictinary D
makers = {}
# make a list A of all unique car makers
A = list(set(cars_df.loc[:,'Make']))
A.sort()

In [305]:
# iterate through the list A
for i in A:
    # select the data from rows i in column 'CO2 Emission Grams/Mile'
    # find m = mean of emissions in that range
    # add item to D as 'i:m'
    makers[i] = cars_df.loc[cars_df['Make'].str.contains(i),'CO2 Emission Grams/Mile'].mean()

In [323]:
worst_emitter=max(makers.items(), key = lambda x: x[1])[0]
worst_emitter

'Vector'

In [295]:
cars_df.loc[: ,['CO2 Emission Grams/Mile','Make']].sort_values(by = ['CO2 Emission Grams/Mile','Make'], ascending=False)

       CO2 Emission Grams/Mile         Make
20894               788.877073  Lamborghini
20895               788.877073  Lamborghini
20896               788.877073  Lamborghini
20897               788.877073  Lamborghini
20898               788.877073  Lamborghini
...                        ...          ...
7916                 31.690010    Chevrolet
7917                 31.690010    Chevrolet
3069                 24.854909          BMW
3070                 24.854909          BMW
3071                 22.990791          BMW

[35952 rows x 2 columns]

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [314]:
## Your Code is here 
cars_df.loc[cars_df.loc[:,'Transmission'].str.startswith('M'), 'Combined MPG'].mean() < cars_df.loc[cars_df.loc[:,'Transmission'].str.startswith('A'), 'Combined MPG'].mean()

False

Answer: "No"