# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [91]:
cars = pd.read_csv("data/vehicles.csv")

In [92]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [8]:
### your code is here
cars.Model.count()

35952

group by the data by the Make  using count function

In [33]:
### your code us here
cars.groupby("Make")['Model'].max().count()

127

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

What brand has the most cars?

In [17]:
cars.Make.value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [56]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].mean().sort_values(ascending=False)

Make
Vector                                1049.159722
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Bugatti                                873.062500
Laforza Automobile Inc                 807.909091
                                         ...
MINI                                   313.716862
Daihatsu                               310.188060
Fiat                                   304.666560
smart                                  247.030556
Fisker                                 169.000000
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [2]:
### your code us here

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [47]:
decades = pd.cut(cars['Year'], bins=4, precision = 0)

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [58]:
cars.dropna().groupby(pd.cut(cars['Year'], bins=4, precision = 0))[['City MPG', 'Highway MPG', 'Combined MPG']].mean().sort_values(['City MPG', 'Highway MPG'])

                   City MPG  Highway MPG  Combined MPG
Year
(2000.0, 2009.0]  16.752420    23.093411     19.072187
(1992.0, 2000.0]  16.985879    23.119885     19.237752
(1984.0, 1992.0]  17.185032    22.372920     19.110783
(2009.0, 2017.0]  19.292550    26.539778     21.919374

Which brands are more environment friendly? - FISKER

In [55]:
cars.groupby('Make')['CO2 Emission Grams/Mile'].mean().sort_values()

Make
Fisker                                 169.000000
smart                                  247.030556
Fiat                                   304.666560
Daihatsu                               310.188060
MINI                                   313.716862
                                         ...
Laforza Automobile Inc                 807.909091
Bugatti                                873.062500
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Vector                                1049.159722
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [95]:
cars.Transmission[cars.Transmission.str.startswith('M')]='Manual'

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_5383/4634688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars.Transmission[cars.Transmission.str.startswith('M')]='Manual'

In [93]:
cars.Transmission[~cars.Transmission.str.startswith('M')]='Automatic'

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_5383/3504153360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars.Transmission[~cars.Transmission.str.startswith('M')]='Automatic'

In [67]:
cars.dropna().groupby('Drivetrain')[['Highway MPG', 'City MPG']].mean()

                            Highway MPG   City MPG
Drivetrain
2-Wheel Drive                 19.340426  15.624113
2-Wheel Drive, Front          33.000000  25.000000
4-Wheel Drive                 22.741966  16.913989
4-Wheel or All-Wheel Drive    19.633708  15.035061
All-Wheel Drive               25.597352  18.312898
Front-Wheel Drive             28.616759  21.174563
Part-time 4-Wheel Drive       19.088608  14.620253
Rear-Wheel Drive              21.225680  15.422049

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [96]:
cars.dropna().groupby('Transmission')[['Highway MPG', 'City MPG']].mean()

              Highway MPG   City MPG
Transmission
Automatic       23.245080  17.119638
Manual          25.204425  18.742754

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [136]:
cars.groupby('Transmission').agg({'City MPG':'mean','Transmission':'count'})

               City MPG  Transmission
Transmission
Automatic     17.119638         24290
Manual        18.742754         11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
cars.groupby('Transmission').agg({'City MPG':'mean','Transmission': 'min'})

               City MPG Transmission
Transmission
Automatic     17.119638    Automatic
Manual        18.742754       Manual

In [138]:
cars.Transmission.value_counts()

Automatic    24290
Manual       11662
Name: Transmission, dtype: int64

In [ ]:
cars_df.rename(columns={'City MPG': 'city_km_per_liter', 'Highway MPG':'highway_km_per_liter'}, inplace=True)