In [341]:
import pandas as pd
import numpy as np
import random

In [156]:
data1 = pd.read_csv( 'data/Data_Marketing_Customer_Analysis_Round2.csv')

In [157]:
data2 = pd.read_csv( 'data/file1.csv')

In [158]:
data3 = pd.read_csv( 'data/file2.csv')

In [159]:
data4 = pd.read_csv( 'data/file3.csv')

In [160]:
data3 = data3[list(data2.columns)]

In [161]:
data4 = data4[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [162]:
set(data4.columns).issubset(set(data1.columns))

True

In [163]:
cols_to_remove = list(set(data1.columns).difference(data4.columns))

In [164]:
data1 = data1[
    ['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']
]

In [165]:
data4.rename({'State': "ST", 'Gender':'GENDER'}, axis = 1, inplace = True)

In [166]:
data1.rename({'State': "ST", 'Gender':'GENDER'}, axis = 1, inplace = True)

In [167]:
df = pd.concat([data2, data3, data4])

In [168]:
df.head(2)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935

In [169]:
def remove_space(string):
    return string.replace(' ','_')

In [170]:
df.rename({k:remove_space(k.lower()) for k in df.columns}, axis = 1, inplace = True)

In [171]:
df.drop(columns = 'customer', inplace = True)

In [172]:
df.rename(columns = {'st':'state'}, inplace = True)

In [204]:
df.head()

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,east,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,central,f,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,central,f,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,west,m,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,east,m,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [117]:
double_states = {'AZ' : 'Arizona', 'WA' : 'Washington', 'Cali' : 'California'}

In [184]:
def replace_lable(dictionary, column):
    for i,k in dictionary.items():
        df.loc[(df[column] == i), column] = k

In [196]:
regions = {'Arizona':'central', 'Nevada':'central', "California":'west', 'Oregon':'north_west', 'Washington':'east'}

In [197]:
replace_lable(regions,'state')

In [201]:
genders = {'F':'f', 'M':'m', 'Femal':'f', 'Male':'m', 'female':'f'}

In [202]:
replace_lable(genders, 'gender')

In [236]:
df.loc[:,'customer_lifetime_value'] = list(map(lambda x: x.replace('%', ''), df.loc[:,'customer_lifetime_value'].astype(str)))

In [277]:
temp = []
for i in list(df.loc[:,'number_of_open_complaints']):
    if type(i) == str and len(i) > 1: 
        i = i[2]
    temp.append( i )

In [297]:
df['education'] = df['education'].str.lower()

In [302]:
df['vehicle_class'] = df['vehicle_class'].str.lower()

In [303]:
df['vehicle_class'] = list(map(delete_space, df['vehicle_class'])

0       four-door car
1       four-door car
2        two-door car
3                 suv
4       four-door car
            ...
7065    four-door car
7066    four-door car
7067    four-door car
7068    four-door car
7069     two-door car
Name: vehicle_class, Length: 12074, dtype: object

In [300]:
df.rename(columns = {'state':'region'}, inplace = True)

In [319]:
cars = {'four-door car':'four_door_car', 'two-door car':'two_door_car', 'luxury suv':'luxury_suv', 
            'sports car':'sports_car', 'luxury car':'luxury_car', 'luxury suv':'luxury_suv'}

In [320]:
replace_lable(cars , 'vehicle_class')

In [323]:
df.policy_type.unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [328]:
df.policy_type = list(map(lambda x: x.lower().replace(' ','_') if type(x) == str else x, df.policy_type))

In [330]:
df.policy_type

0        personal_auto
1        personal_auto
2        personal_auto
3       corporate_auto
4        personal_auto
             ...
7065     personal_auto
7066    corporate_auto
7067    corporate_auto
7068     personal_auto
7069    corporate_auto
Name: policy_type, Length: 12074, dtype: object

In [332]:
df = df.drop_duplicates()

In [388]:
df.head()

,region,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,east,NaN,master,185875.60295,50734.094942,1000.0,0,personal_auto,four_door_car,2.704934
1,central,f,bachelor,697953.59,50734.094942,94.0,0,personal_auto,four_door_car,1131.464935
2,central,f,bachelor,1288743.17,48767.000000,108.0,0,personal_auto,two_door_car,566.472247
3,west,m,bachelor,764586.18,50734.094942,106.0,0,corporate_auto,suv,529.881344
4,east,m,high school or below,536307.65,36357.000000,68.0,0,personal_auto,four_door_car,17.269323

In [415]:
df['income'].fillna(df.loc[df['income']!= 0.0, 'income'].mean(), inplace = True)

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_45997/2402172531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income'].fillna(df.loc[df['income']!= 0.0, 'income'].mean(), inplace = True)

In [349]:
replace_lable({0.0:50734.09494151603}, 'income' )

In [414]:
df.loc[:,'customer_lifetime_value'].fillna(df['customer_lifetime_value'].astype(float).mean(), inplace = True)

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_45997/2201632078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'customer_lifetime_value'].fillna(df['customer_lifetime_value'].astype(float).mean(), inplace = True)

In [374]:
df['customer_lifetime_value'].astype(float).mean()

185875.60294955593

In [386]:
df.iloc[0,3]=185875.60294955593

In [413]:
df.monthly_premium_auto.fillna(df.monthly_premium_auto.mean(), inplace = True)

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_45997/4118612011.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.monthly_premium_auto.fillna(df.monthly_premium_auto.mean(), inplace = True)

In [392]:
df.monthly_premium_auto

0       1000.0
1         94.0
2        108.0
3        106.0
4         68.0
         ...
7065      73.0
7066      79.0
7067      85.0
7068      96.0
7069      77.0
Name: monthly_premium_auto, Length: 8838, dtype: float64

In [396]:
df.df.total_claim_amount

0          2.704934
1       1131.464935
2        566.472247
3        529.881344
4         17.269323
           ...
7065     198.234764
7066     379.200000
7067     790.784983
7068     691.200000
7069     369.600000
Name: total_claim_amount, Length: 8838, dtype: float64

In [404]:
df.total_claim_amount.isnull().values

array([False, False, False, ..., False, False, False])

In [405]:
 df.isnull().sum()

region                         1
gender                       123
education                      1
customer_lifetime_value        0
income                         1
monthly_premium_auto           1
number_of_open_complaints      1
policy_type                    1
vehicle_class                  1
total_claim_amount             1
dtype: int64

In [411]:
df.loc[:,'number_of_open_complaints'].fillna(0, inplace = True)

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_45997/932499685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'number_of_open_complaints'].fillna(0,inplace = True)

In [421]:
df.loc[:,'gender'].fillna('not_dc', inplace = True)

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_45997/4267992887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'gender'].fillna('not_dc', inplace = True)

In [424]:
 df.isnull().sum()

region                       0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [423]:
df.dropna(inplace=True)

/var/folders/5x/4q4xg64s4d7_cmwlbd7j7q380000gn/T/ipykernel_45997/1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [425]:
df

,region,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,east,not_dc,master,185875.60295,50734.094942,1000.0,0,personal_auto,four_door_car,2.704934
1,central,f,bachelor,697953.59,50734.094942,94.0,0,personal_auto,four_door_car,1131.464935
2,central,f,bachelor,1288743.17,48767.000000,108.0,0,personal_auto,two_door_car,566.472247
3,west,m,bachelor,764586.18,50734.094942,106.0,0,corporate_auto,suv,529.881344
4,east,m,high school or below,536307.65,36357.000000,68.0,0,personal_auto,four_door_car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,west,m,bachelor,23405.98798,71941.000000,73.0,0,personal_auto,four_door_car,198.234764
7066,west,f,college,3096.511217,21604.000000,79.0,0,corporate_auto,four_door_car,379.200000
7067,west,m,bachelor,8163.890428,50734.094942,85.0,3,corporate_auto,four_door_car,790.784983
7068,west,m,college,7524.442436,21941.000000,96.0,0,personal_auto,four_door_car,691.200000
7069,west,m,college,2611.836866,50734.094942,77.0,0,corporate_auto,two_door_car,369.600000