In [186]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

In [107]:
df = pd.read_csv('Data/DATA_Customer-Churn.csv')

In [108]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [124]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [143]:
df[df.isna()].count()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [169]:
X = df[['tenure', 'MonthlyCharges', 'TotalCharges', 'SeniorCitizen']]
X.value_counts()

tenure  MonthlyCharges  TotalCharges  SeniorCitizen
1       20.20           20.20         0                11
        19.75           19.75         0                 9
        19.65           19.65         0                 8
        19.90           19.90         0                 8
        19.55           19.55         0                 7
                                                       ..
17      24.10           409.90        0                 1
        21.10           385.55        0                 1
        20.75           418.25        0                 1
        20.65           330.60        1                 1
72      118.75          8672.45       0                 1
Length: 6825, dtype: int64

In [131]:
X['TotalCharges'] = [i for i in map(lambda x: '0' if (x ==' ') else x, X['TotalCharges'])]

In [154]:
X['TotalCharges'] = pd.to_numeric(X['TotalCharges'], )

In [ ]:
def digitize(x):
    if x=='No':
        return 0
    if x=='Yes':
        return 1

In [ ]:
y =  df['Churn']

In [182]:
y = pd.Series([i for i in map(digitize, list(y))])

In [183]:
y.value_counts()

0    5174
1    1869
dtype: int64

In [173]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [119]:
from sklearn.linear_model import LogisticRegression

In [167]:
l_model = LogisticRegression()

In [185]:
l_model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
 Knn Classifier

In [189]:
nn_model = KNeighborsClassifier()

In [190]:
nn_model.fit(X_train, y_train)

KNeighborsClassifier()